.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.DotPulse-module_container__Q1oww{
position: absolute;
  top: 50%;
}

