form{
  display: flex;
}

input {
  font-size: 1rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  font-weight: 300;
  border: 1px solid #fff;
  border-radius: 8px 0px 0px 8px;
}

form button {
  font-size: 1rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  font-weight: 300;
  height: 1.781rem;
  border: 1px solid #efefef;
  border-radius: 0px 8px 8px 0px;
  background-color: #acb9d4;
}

form button:focus,
form button:hover{
  color: #fff;
  background-color: #acb9d4c0;;
}

.screen-reader-text {
  position: absolute;
  clip-path: polygon(0 0, 0.1% 0, 0.1% 0.1%, 0.1% 0);
}