:root {
  --shadow-color: 
  0deg 0% 63%;--shadow-elevation-medium:
  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
  0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
  2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
  5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  gap: 1rem;
}

ul li{
  margin: 0 auto;
  border: 1.5px solid #acb9d468;
  border-radius: 10px;
  min-width: 21rem;
  max-width: 42rem;
  flex-grow: 1;
  flex-basis: 0;
  background-color: #acb9d468;
  box-shadow:var(--shadow-elevation-medium);
} 

ul li p:first-child{
  font-weight: bold;
}

.hourlyList p{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0 auto;
  padding: 0 1rem;
  margin: 1rem 0;
}

@media all and (min-width: 450px) {
  ul li {
  min-width: 25rem;
  }
}