.welcomeMsg{
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #282c34;
  padding: 4rem;
}

.current{
padding: 2rem;
max-width: max-content;
margin: 0 auto;
margin-top: 2rem;
}

.current div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp{
  font-size: 3.5rem;
  margin: 0rem;
  margin-top: 1rem;
}

.feelsLike{
  text-align:left;
  margin-left: -0.5rem;
}

.iconsDiv p{
  display: flex;
}

.current .material-icons,svg{
font-size: 2rem;
}

.address .material-icons{
  color: rgb(165, 27, 27);
}

.current .wind,
.current .humidity{
  color: rgb(35, 88, 134);
}

svg{
  font-size: 1rem;
}

.sunrise,.sunset{
  display: flex;
}

.sunrise svg{
  color: rgb(241, 197, 39);
}

.sunset svg {
  color: rgb(239, 118, 57);
}
