.current div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp{
  font-size: 4rem;
  margin: 0rem;
  margin-top: 1rem;
}

.feelsLike{
  text-align:left;
  margin-left: -0.5rem;
}

.iconsDiv p{
  display: flex;
}

.current .material-icons,svg{
font-size: 2rem;
}

svg{
  font-size: 1rem;
}

.sunrise,.sunset{
  display: flex;
}

.sunrise svg{
  color: rgb(241, 197, 39);
}

.sunset svg {
  color: rgb(239, 118, 57);
}


