#navbar{
  font-size: 1.3rem;
  background-color: #d1daef;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 100000;
  position: relative;
} 

.navlinks{
  flex-grow: 1;
}
.navlink{
  padding: 0.5rem;
  text-decoration: none;
}

aside {
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

aside p{
  font-size: 1rem;
  flex-shrink: 1;
}

aside p span{
  display: none;
}

aside p span.showSpan{
  display: inline;
}

aside button {
  color: #fff;
  font-size: 1rem;
  background-color: #282c34;
  border: 1px solid #282c34;
  border-radius: 5px;
  transition: 0.3s;
  padding: 0.3rem 0.5rem;
}

aside button:focus,
aside button:hover {
  background-color: #fff;
  color: #282c34;;
}
